
<div id="" class="col-12 p-3 shadow rounded">
                    
    <fieldset>
        <label for="categoria"  class="d-block">Categoria</label>
        <select id="categoria" onchange="mostrarLista()" class="custom-select" name="categoria" id="">
            <option disabled selected value="0">Escolha uma categoria</option>    
            {% for categoria in categorias %}
                <option value="{{categoria.categoria_id}}">{{categoria.nome}}</option>
            {% endfor %}
        </select>
    </fieldset>
</div>

