
<div id="" class="col-12 p-3 shadow rounded">
                    
    <fieldset>
        <label for="categoria"  class="d-block">Categoria</label>
        <select id="categoria" onchange="mostrarLista()" class="custom-select" name="categoria" id="">
                <option disabled selected value="0">Escolha uma categoria</option>
                <option value="comida">Econômico</option>
                <option value="lazer">Intermediário</option>
                <option value="roupa">SUV</option>
                <option value="lazer">Executivo</option>
                <option value="roupa">Utilitário</option>  
        </select>
    </fieldset>
    
</div>

