<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-3">
            <a name="" id="" class="btn btn-primary btn-lg" href="http://localhost/blockbuster/?pagina=motorista&metodo=cadastrarMotorista" role="button">cadastrar</a>
        </div>
        
        <div class="col-7">
            <!--pesquisa de motorista-->
            <form class="form-row my-2 my-lg-0 ">
                <input class="form-control mr-sm-2 col-9" type="text" placeholder="CPF">
                <a name="" id="" class="btn btn-primary col-2" href="#" role="button"><i class="texto-pesquisa fa fa-search" aria-hidden="true"></i></a>
            </form>

        </div>


    </div>
</div>

<div id="cpf-table" class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-12">

            <table class="table ">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Número de Registro</th>
                        <th>Categoria</th>
                        <th>Data de Validade</th>
                        <th>Foto da carteira</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                        {% for motorista in motoristas %}
                            <tr class="clicavel">
        
                                <td scope="row">{{motorista.nome}}</td>
                                <td>{{motorista.cpf}}</td>
                                <td>{{motorista.telefone_1}}</td>
                                <td>{{motorista.email}}</td>
                                <td>{{motorista.numeroRegistro}}</td>
                                <td>{{motorista.categoria}}</td>
                                <td>{{motorista.dataValidade}}</td>
                                <td>
                                    {{motorista.id_imagem}}
                                </td>
        
                            </tr>
                        {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
