<html lang="pt-br">
<head>

    <title>blockbuster veiculos</title>
    <meta charset="UTF-8">
    <!--tags para bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--tags para fontawesome-->
    <link rel="stylesheet" href="fontawesome/css/all.min.css">

    <!--estilo estrurura-->
    <link rel="stylesheet" href="style/estrutura.css">

    <!--estilo cliente-->
    <link rel="stylesheet" href="style/cliente.css">

    
   

    
</head>
<body onload="verificarTipo(); setarData();">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand" href="http://localhost/blockbuster/#"><i class="fas fa-tape display-4"></i> BLOCKBUSTER VEÍCULOS</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav  ml-auto mt-2 mt-lg-0">
                
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/#" class="nav-link">locação</a>
                </li>
                <li class="nav-item">
                    <a href="#tab5Id" class="nav-link">devolução</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=Categoria" class="nav-link">Categorias</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=modelo" class="nav-link">Modelos</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=marca" class="nav-link">Marcas</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=motorista" class="nav-link">Motorista</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">multas</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=imagem" class="nav-link">imagem</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=veiculo" class="nav-link">veiculo</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/blockbuster/?pagina=cliente" class="nav-link">cliente</a>
                </li>

            </ul>
        </div>
    </nav>
    
    <div class="container mt-3">
        {{conteudo}}
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="app/javaScript/cliente.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>