<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--tags para bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--tags para fontawesome-->
    <link rel="stylesheet" href="fontawesome/css/all.min.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blockbuster veiculos</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <a class="navbar-brand" href="index.html">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cliente.html">cliente</a>
                </li>               
            </ul>
        </div>
    </nav>

    <div class="container">
        {{conteudo}}
    </div>
</body>
</html>